body{ line-height: 1;}

.main_wrap h1.title {display: inline-block;padding-left: 17px;border-left: 4px solid #ffa312;line-height: 38px;font-size: 16px;}
.main_wrap{ margin-left: 0;padding: 20px;}
.cont-nav{display: none;}
.lcbox{text-align: right;height: 60px;position: relative}
.liucheng{ width: 280px; margin: 110px 0 0 0; font-size: 0;position: absolute;right: 0;}
.liucheng>div{ display: inline-block; font-size: 14px; vertical-align: middle;}
.liucheng .bz{position: relative;}
.liucheng .bz h1{ font-size: 12px;position: absolute; bottom: -20px; left: -10px;  right: -10px;text-align: center;color: #a0a0a0;}
.liucheng .bz p{ margin: 0 auto; border-radius: 100%; width: 30px; height: 30px;line-height: 30px;  text-align: center; color: #e6e6e6;  box-sizing: border-box;background-color: #a0a0a0;}
.liucheng .lj{ background-color: #fff; margin: 0 10px;}
.liucheng .lj img{ width: 100%;  max-height: 20px;}
.liucheng .on.bz h1{color: #ffa312;}
.liucheng .on.bz p{background-color: #ffa312;border-color: #ffa312; color: #fff;}
.ddmx .liucheng{margin-top: 25px;}
.ddmx .sestion { margin-top:50px; position: relative;}
.ddmx .sestion textarea{width: 100%;border: 1px solid #dedddd;margin-top: 10px;padding: 5px;display: block;}
.ddmx .pay span{display: inline-block;width: 100px;height: 40px;line-height: 40px;text-align: center;border: 2px solid #dedddd;margin-left: 5px;cursor: pointer}
.ddmx .pay span.active{border: 2px solid #ffa312}
.ddmx .sestion h1{display: inline-block; font-size: 16px; color: #010101;}
.ddmx .sestion1 span{display: inline-block; font-size: 16px; color: #ffa312; margin-left: 20px;}
.ddmx .sestion2 p{ display: inline-block; font-size: 14px; color: #5c5c5c; padding-right: 40px; margin-top: 15px;}
.ddmx .sestion2 h1{ display: block}
.ddmx .sestion3 .li{ display: inline-block;width: 12%; text-align: center;line-height: 35px; font-size: 14px; color: #5c5c5c; border-bottom: 1px dashed #eeeeee;}
.ddmx  .sestion3 { margin-top: 40px}
.ddmx .sestion3 .spxx-title{ margin-top: 10px;background-color: #fafafa;font-size: 14px;  }
.ddmx .sestion3 .spxx-cont{border-bottom: 1px dashed #bdafaf;padding: 10px 0;}
.ddmx .sestion3 .spxx-title .li{color: #000; border-bottom: none;}
.ddmx .sestion3 .spxx-title .li:first-child{width: 35%}
.ddmx .sestion3 .spxx-cont .li:first-child img{display: inline-block;width: 80px;vertical-align: bottom}
.ddmx .sestion3 .spxx-cont .li:first-child p{display:inline-block ;width: calc(100% - 120px);position: relative;top: -12px}
.ddmx .sestion3 .spxx-cont .li:nth-child(3){height: 70px;line-height: 70px}
.ddmx .sestion3 .spxx-cont .li:nth-child(4){height: 70px;line-height: 70px}
.ddmx .sestion3 .spxx-cont .li:nth-child(5){height: 70px;line-height: 70px}
.ddmx .sestion3 .spxx-cont .li:nth-child(6){height: 70px;line-height: 70px;color:#ffa312;cursor: pointer }
.ddmx .sestion3 .spxx-cont .li:first-child{width: 35%}
.ddmx .sestion3 .spxx-cont .li:first-child .checkbox{position: relative;top: -20px}
.ddmx .sestion3 .spxx-title .li:nth-child(2){width: 15%}
.ddmx .sestion3 .spxx-cont .li:nth-child(2){width: 15%}
.ddmx .sestion3 .spxx-cont .li:nth-child(2) p{word-break: break-all;overflow: hidden;display: -webkit-box;-webkit-line-clamp:1;-webkit-box-orient: vertical;}
.ddmx .sestion4 p{ display: inline-block; line-height: 25px; font-size: 14px;}
.sestion5 .sestion4 ul{margin-top: 0; margin-bottom: 20px; }
.sestion5 .sestion4 ul li p{ width: 75px; text-align: right;}
.sestion3 .li #num{ display: inline-block; padding: 5px 10px; border: 1px solid #e5e5e5; line-height: 1; cursor: pointer;width:45px;text-align: center;}
 #num1{ display: inline-block; padding: 5px 10px; border: 1px solid #e5e5e5; line-height: 1; cursor: pointer;}
.sestion3 .li .yuns{ padding: 5px 5px; border: 1px solid #e5e5e5; line-height: 1; display: inline-block; cursor: pointer }
.b{ font-weight: bold;font-size: 18px;color: #d63038}
.sestion7-left p{ margin-top: 28px;}
.sestion7 { border-bottom: 1px solid #aeaeae}
.sestion6{ margin-bottom: 40px; margin-top: 30px;height: 50px}
.sestion6 .sec6-cont{width: calc(100% - 125px);text-align: right;}
.sestion6 .sec6-list{display: inline-block;height: 50px;line-height: 50px;margin-right: 10px}
.sestion6 .btn{cursor:pointer; margin: 0 auto; width: 120px; height: 50px; line-height: 50px; background-color: #ffa312; border-radius:3px; resize: none;  float:right; border:none; display: block;color: #fff; text-align: center;}
.sestion6 .btn:hover{background-color: #ffa312}
.sestion6 .btn:active{background-color: #ffa312}
.s2p2{ text-align: center; width:750px;}
.shxx-top span{ font-size: 16px; border-left: 1px solid #ffa312; padding: 0 10px; cursor: pointer;}
.shxx-top span:first-child{ border: none; padding-left: 0;}
.shxx-top .active{font-weight: bold}
.shxx-top{ margin-bottom: 20px;}
.shxx-bottom .wrapper2{padding: 25px 0; font-size: 16px;}
#shdz .shdz1{ width: 250px; display: inline-block; margin:0 15px 15px 0; position: relative; border:1px solid #e5e5e5; box-sizing: border-box;padding: 15px 10px; cursor: default;}
#shdz .shdz1:before,#shdz .shdz1:after{content:'';background: url("../image/mall/peraddress.png") center; position: absolute;left: 0;right: 0;height: 3px;opacity: .5;}
#shdz .shdz1:before{top: 0;}
#shdz .shdz1:after{bottom:0;}
#shdz .mrdz{display: none; position: absolute;top: 0;right: 0; background: #ffa312; color: #fff;width: 65px; height: 20px; line-height: 20px; text-align: center;}
#shdz .userinfo{ margin-bottom: 5px;line-height: 24px;}
#shdz .userinfo img{vertical-align: baseline; margin-right: 5px;}
#shdz .userinfo .hd-name{float: left;}
#shdz .userinfo .addr{height: 48px;  overflow: hidden;display: -webkit-box;  -webkit-line-clamp: 2;  -webkit-box-orient: vertical; margin-left: 3em;}
#shdz .mrxzdz{ position: absolute;bottom: 0;right: 0; display: none;}

#shdz .shdz1 .mrxzdz1{ display: block;position: absolute;bottom: 0;right: 0;}
#shdz .shdz1-bk{ display: block;}
#shdz .userinfo .user-name,#shdz .userinfo .user-tell{ display: inline-block; font-size: 14px;margin-right:10px; font-weight: bold;}
#shdz .userinfo .user-img{ margin-right: 2px; display: inline-block;}
#shdz .dele{ float: right; /*margin-right: 15px;*/}
#shdz .dele:after{content: ''; position: absolute;right: 0; bottom: 0; background: url("../image/mall/peraddressbg_ok.png") no-repeat center; background-size: contain; width: 20px; height: 20px; z-index: 1; display: none;}
#shdz .dele-box{ display: inline-block; padding-left: 10px;}
#shdz .de-span a:hover{ color: #ffa312;}
#shdz .de-span{ padding: 0 5px;}
#shdz .dele-box.de-left{ border-right: 1px solid #000; padding-right: 10px}
#shdz .mrdz{display: block}
#shdz .on:before,#shdz .on:after{opacity: 1;}
#shdz .on .dele:after{display: block;}
.adddz a{ font-size: 16px; color: #ffa312; margin-top: 10px;display: inline-block;line-height: 24px;}
.hkje{text-align: right; margin-top: 15px;}
.hkje p{display: inline-block;}