.main {
    background: url(../image/public/logobg.png);
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main .left {
    position: relative;
    width: calc(100% - 630px)
}

.main .left .text {
    margin-top: 23%;
    margin-left: 250px;
    position: relative;
    z-index: 22;
    color: #fff;
}

.main .left .text h1 {
    font-size: 74px;
    margin-bottom: 20px;
}

.main .left .text p {
    font-size: 30px;
}

.main .left .goback {
    position: absolute;
    display: block;
    width: 155px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    color: #fff;
    font-size: 20px;
    border-radius: 4px;
    top: 55%;
    left: 250px;
    background-color: #1dadff;
}

.main .left .goback:hover {
    background-color: #31b2fc;
}

.main .left img {
    display: block;
    width: 100%
}

.main .left .goback img {
    width: 25px;
    display: inline-block;
    position: relative;
    top: -2px
}

.right {
    width: 630px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
}

.right .right-box {
    width: 410px;
    margin: 0 auto;
    margin-top: 200px
}

.right .right-box .nav {
    font-size: 26px;
    cursor: pointer;
    padding-bottom: 8px;
}

.right .right-box .nav.active {
    color: #1dadff;
    border-bottom: 2px solid #1dadff
}

:-moz-placeholder {
    color: #a1a1a1;
}

::-moz-placeholder {
    color: #a1a1a1;
}

input:-ms-input-placeholder {
    color: #a1a1a1;
}

input::-webkit-input-placeholder {
    color: #a1a1a1;
}

.loginBox{
    margin-top: 90px;
}
.loginBox input, .loginBox button {
    height: 40px;
}

.Agreement {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    color: #a1a1a1
}

.Agreement a {
    color: #29b1ff
}
