.section1{display: flex;display: -webkit-flex;justify-content: space-between;margin-top:50px}
.section1 a {display: block;width: 19%;}
.section1 a img{display: block;width:100%;}
.section1-time .tit{margin-top: 20px}
.section1-time .tit h1{display: inline-block;margin-right: 5px}
.section1-time .tit h1 img{vertical-align: middle;display: inline-block;margin-right: 3px}
.section1-time .nav .nav-list{margin-top: 10px;cursor: pointer}
.section1-time .nav .nav-list i{border: 10px ;border: 10px solid #E60012;border-bottom-color: transparent; position: absolute;border-left-color: transparent;border-right-color: transparent;
bottom: -20px;z-index: 22;margin-left: -5px;left: 50%;display: none}
.section1-time .nav .nav-list.active i{display: block}
.section1-time .nav .nav-list{display: inline-block;width: 20%;height: 40px;background-color:#2f2f2f;line-height: 40px;text-align: center;color: #fff;position: relative; }
.section1-time .nav .nav-list.active{background-color: #E60012}
.section1-time .cont-box{display: none}
.section1-time .cont-box:first-child{display: flex}
.section1-time .cont-box-list:hover{box-shadow: 2px 4px 3px 0 rgba(255, 91, 96, 0.3);transform: translate3d(0, -3px, 0);}
.section1-time .cont-box-list{transition: all .4s;color: #2f2f2f; display: block;width:24%;border: 1px solid #c1bfbf ;margin-top: 25px;padding: 30px 18px 15px 18px;box-sizing: border-box}
.section1-time .cont-box-list .name{color: #333; line-height: 1.6;word-break: break-all;overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;margin-top: 15px}
.section1-time .cont-box-list img{display: block;margin: 0 auto}
.section1-time .cont-box-list .mony{font-size: 16px;color: #E60012;display: inline-block;margin-left: 10px}
.section1-time .cont-box-list .Progress-box{border: 1px solid #a4a4a4;border-radius: 8px;margin-top: 15px;font-size: 0;position: relative;overflow: hidden;height: 15px}
.section1-time .cont-box-list .Progress-box img{display: inline-block;width:18px;border-radius: 25%;position: relative;z-index: 22;}
.section1-time .cont-box-list .Progress-box span{display: inline-block;height: 15px;width: 50%;background-color: #ff0000;border-radius: 8px;position: absolute;left: 0}
.gg img{display: block;width: 100%;margin-top: 30px}
.section2-boxbig{margin-top: 50px}
.section2-boxbig .section2Boxcont{margin-top: 20px}
.sec2-conts{width: 49%;display: block;margin-top: 10px}
.sec2-conts img{display: block;width: 100%}
.sec-conts{display: flex;display: -webkit-flex;flex-wrap: wrap;}
.sec-contsimg{width: 100%;position: relative;overflow: hidden;cursor: pointer}
.sec-contsimg img{display: block;width: 100%;height:100%}
.sec-contswpsimg{width:204px;height:250px;box-sizing: border-box;padding: 5px;cursor: pointer;position: relative;padding-bottom: 12px;border-right: 1px solid #f1f1f1; margin: 20px 7px;}
.sec-contswpsimg:first-child{border-bottom: 1px solid #f1f1f1}
.sec-contswpsimg:nth-child(2){border-bottom: 1px solid #f1f1f1}
.sec-contswpsimg:nth-child(3){border-bottom: 1px solid #f1f1f1}
.sec-contswpsimg:nth-child(4){border-bottom: 1px solid #f1f1f1}
.sec-contswpsimg .img{transition: all .4s;overflow: hidden;width: 193px;height: 177px}
.sec-contswpsimg:hover .img img{transform: scale(1.1)}
.sec2-top{border-bottom: 1px solid #f90}
.sec2-top .tag{width: 28%;position:relative;top: 5px;}
.sec2-top .tag h1{position: absolute;top: 0;font-size: 20px;color: #fff;line-height: 50px;text-align: center;padding-left:20px}
.sec2-top .tag h1 span{font-size:22px;position: relative;top: 2px }
.sec2-top .sec2-top-right{width: 71%;justify-content:flex-end;line-height: 55px;}
.sec2-top .sec2-top-right a:hover{color: #ff9a04}
.sec2-top .sec2-nav{justify-content:flex-end}
.sec2-top .navs{width: 80px;text-align: center;display: inline-block;cursor: pointer;position: relative;top: 30px;border-right: 1px solid #f1f1f1}
.sec2-top .navs.active{color: #f90}
.sec2-top .more{position: relative;top: 30px;transition: all .4s}
.sec2-top .more:hover{color: #f90}
.sec2-rt{width: 16%;}

.vip{background-color: #f2ecee;margin-bottom: 40px;padding-bottom: 20px}
.sec2lt-lt{width: 26%;position: relative;padding:20px 0;}
.sec2lt-rt{width: 73%}

.product{width: 90%;margin: 0 auto;display: flex;display: -webkit-flex;justify-content: space-between;flex-wrap: wrap;position: absolute;bottom: 20px;margin-left: 5%}
.cp{width: 32%;display: block;text-align: center;margin:5px auto 10px;border-bottom: 1px solid transparent;padding-bottom: 5px;transition: all .4s}
.cp:hover{border-bottom: 1px solid #de7176}

.name{margin: 10px 0}
.money{margin-top: 15px}
.money .mony{font-size: 16px;color: #E60012}
.money i{font-size: 16px;color: #E60012}

.gwc{position: absolute;bottom:-2px;right:8px;width: 28px;height: 28px;background-color:#de5c66;border-radius: 100%;padding:2px}
.gwc img{display: block;width:70%;margin-left:15%;margin-top:15%}
/*.sec2ltrt-top{border-bottom: 1px solid #333}margin-top: 40px*/
.img img{display: block;width: 100%;tranisition:all .2s}
/* .sec2-nav{border-bottom: 1px solid #333} */
.sec3-list .img{height:200px;}
.sec3-list .img img{width:100%;height:100%;}
.sec2-contbox{margin-top: 10px}
.section3 .sec3-list{text-align: center;border: 1px solid #f1f1f1;padding: 10px;box-sizing: border-box;width: 24%;margin-bottom:15px}
.section3 .sec3-list .name:hover{color: #E60012;}
.section3 .sec3-list .name{transition: all .4s;word-break: break-all;overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height: 1.6}
.section3 .sec3tit{width: 30%;margin: 0 auto;position: relative;margin: 50px auto}
.section3 .sec3tit .hr{height: 1px;background-color: #000;width: 100%}
.section3 .sec3tit span{display: block;text-align: center;position: absolute;width: 100px;left: 50%;margin-left: -50px;font-weight: bold;font-size: 20px;
background-color: #fff;top: -15px;}
.section3 .more{width: 120px;height: 40px;line-height: 40px;text-align: center;border-radius: 8px;border: 1px solid #E60012;color: #E60012;margin:40px auto 0;display: block;transition: all .4s}
.section3 .more:hover{background-color: #E60012;color: #fff}
.vipimg{margin: 0 auto 15px;width: 85%;;display: block;border: 1px solid #ffb400;}
.vipimg img{display: block;width: 100%}
.vipimg .zuan-box{text-align: center;margin-bottom:5px}
.vipimg .zuan{display: inline-block;width: 15px}
.vipimg i{color: #E60012}
/*vipimg*/
.vip-tit{font-size: 24px;font-weight: bold;padding: 20px 0 20px 20px}
.vipimg img{width: 100%}
.phontit{display: none}
.vipimgtit{text-align: center;margin:5px auto 3px}

@media (max-width: 1219px) {
.section2-boxbig{margin-top: 20px}
    .section1-time .cont-box-list img {width: 80%;}
    .sec-contswpsimg{width: 32%;border: none}
    .sec-contswpsimg:first-child{border-bottom:none}
.sec-contswpsimg:nth-child(2){border-bottom:none}
.sec-contswpsimg:nth-child(3){border-bottom:none}
.sec-contswpsimg:nth-child(4){border-bottom:none}
.sec-contswpsimg:nth-child(7){display: none}
.sec-contswpsimg:nth-child(8){display: none}
.sec2lt-lt{width: 33%}
.sec2lt-rt {width: 66%;}
.section3 .sec3tit{margin: 25px auto}
}
@media (max-width:1023px) {
    .sec2-top .tag img{display: none}
    .sec2-top .tag h1{color: #000;border-left: 5px solid #E60012;height: 30px;line-height: 30px;top: 15px;}
    .sec2-top .tag h1 span{display: none}
    .sec2-top .tag {width: 150px;}
    .sec2-top .sec2-top-right{width: calc(100% - 180px)}
    .sec2-top .navs{width: 60px;top:-3px}
    .sec2-top .more{top: -3px}
    .sec2-top .tag h1{top: 0;line-height: 1;}
    .sec2-top .tag{top: -5px}
    .section3 .sec3-list{width: 32%}
    .section3 .sec3-list:nth-child(7){display: none}
    .section3 .sec3-list:nth-child(8){display: none}
    .section3{margin-bottom: 100px;position: relative;bottom: 0px;}
    .section3 .more {width: 110px;height:40px; line-height:40px;margin: 0 auto}
    .phontit{display: none;font-size: 20px;border-left: 4px solid #E60012;padding-left: 10px;margin-bottom: 15px}
    .sec2lt-lt,.sec2-rt,.sec3-rt{display: none}
    .sec2lt-rt,.section2Boxcont,.sec3-lt{width: 100%}
    .sectionbox{display: flex;display: -webkit-flex;justify-content: space-between;flex-wrap: wrap;margin-bottom: 50px}
    .sextion3.wrap{width:48%;}
    .sec3lt-tit{width: 80px}
    .sec3lt-cont{width: calc(100% - 90px);}
    .sec3lt-tit.sec3lt-tit2{padding-left: 25px;font-size: 24px;}
    .sec3lt-titbig{font-size: 24px}
    .sec3lt-contimg:nth-child(2){margin-bottom: 10px}
    .sec3lt-contimg:nth-child(1){margin-bottom: 10px}
    .sec-contsimg{width:100%}
    .gwc{bottom: 0}
    .sec1contbox{margin-left: 10px}
    .sec1-boxlt, .sec1-boxrt{width: 49%}


}
@media (max-width:767px) {
    .section1-time .cont-box-list{width: 49%}
.section1-time .cont-box-list{padding: 5px}
.section1-time .cont-box-list .name{font-size: 14px}
.sec2-top .sec2-nav{display: none}
.section3 .sec3-list{width: 49%}
.section3 .sec3-list>img{display: block;width: 100%}
.section3 .sec3-list .name{font-size: 14px}
.section3{margin-bottom: 100px;position: relative;bottom: 0px;}
.section3 .more {width: 90px;height: 30px; line-height: 30px;margin: 0 auto}
    .sec-contswpsimg{width: 49%}
    .sec-contswpsimg:nth-child(3){display: none}
    .sec2ltrt-top .swiper-slide{padding: 0}
.sec1-boxrt{display: none}
.sec1-boxlt{width: 100%}
    .navs{width: 58px}
    .sec3-lt2{display: none}
    .sextion3.wrap{width: 100%}
    .section2{margin-bottom: 20px}
    .sec1-tit{font-size: 22px;width: 60px;padding-left: 18px;}
    .sec1lt-tit .nameen,.name{font-size: 20px}
    .swiper-slide .name{font-size: 16px}
    .sec3lt-tit{padding-top: 20px}
}
