.banner{position: relative}
.banner>img{display: block;width: 100%;}
.banner .navbigbox{position: absolute;top:55px;width: 90%;left: 5%}
.navbox-left .nav{color: #fff;width: 120px;text-align: center;font-size: 16px}
.navbox-left .nav.active{font-weight: bold}
.navbox-left .nav span{display: block;margin-top: 5px}
.link{display: inline-block;width: 85px;height: 35px;color: #fff;line-height: 35px;transition: all .4s;border: 1px solid transparent;border-radius: 40px;text-align: center}
.link img{vertical-align: middle;margin-right: 5px}
.link:hover{border: 1px solid #fff;border-radius:40px;transition: all .4s;color: #fff}
.banner .mouse{display: block;width: 21px;height: 48px;background: url(../image/public/ico1.png) no-repeat center;background-size: 21px 48px;position: absolute;bottom: 140px;left: 50%; margin-left: -10px;-webkit-animation: mouseMove 1.3s ease-in infinite;animation: mouseMove 1.3s ease-in infinite;z-index: 5;
    cursor: pointer;}
    @-webkit-keyframes mouseMove{
        from{
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
        }
        to{
            -webkit-transform: translateY(15px);
            -moz-transform: translateY(15px);
            -o-transform: translateY(15px);
            transform: translateY(15px);
            opacity: .4;
        }
    }
    @-moz-keyframes mouseMove{
        from{
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
        }
        to{
            -webkit-transform: translateY(15px);
            -moz-transform: translateY(15px);
            -o-transform: translateY(15px);
            transform: translateY(15px);
            opacity: .4;
        }
    }
    @-o-keyframes mouseMove{
        from{
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
        }
        to{
            -webkit-transform: translateY(15px);
            -moz-transform: translateY(15px);
            -o-transform: translateY(15px);
            transform: translateY(15px);
            opacity: .4;
        }
    }
    @keyframes mouseMove{
        from{
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
        }
        to{
            -webkit-transform: translateY(15px);
            -moz-transform: translateY(15px);
            -o-transform: translateY(15px);
            transform: translateY(15px);
            opacity: .4;
        }
    }
.download{position:absolute;bottom:-80px;padding: 50px 0 55px 0;background: #fff;left: 50%;margin-left: -600px}
.download .downloadlist{text-align: center;width: 50%;}  
.download .downloadlist .cont{display: inline-block;font-size: 16px;color:#258ffc }
.download .downloadlist .btn{transition: all .4s;width: 165px;height: 35px;line-height: 35px;border: 1px solid #258ffc;border-radius: 50px;margin-top: 10px;font-size: 14px}
.download .downloadlist .btn:hover{background-color: #258ffc;color: #fff;cursor: pointer}
.download .downloadlist img{vertical-align: top;margin-right: 25px}

.business{background: url(../image/index/businessbg.png) repeat-x;padding:165px 0 250px 0 }
.businesscont{margin-top: 100px;position: relative}
.businesscont>img{display: block;width: 100%}
.businesscont .wrap{position: absolute;left: 50%;margin-left: -600px;top:0 }
.businesscont .wrap .businesslist{position: absolute;top: 0;width: 155px;text-align: center;cursor: pointer;}
.businesscont .wrap .businesslist .imgbox{background: #258ffc;border-radius: 100%;width: 85px;height: 85px;line-height: 85px;text-align: center;align-items:center;display: flex;justify-content:center;margin: 0 auto;margin-bottom: 20px}
.businesscont .wrap .businesslist p{margin-bottom: 10px;font-size: 16px;color: #258ffc}
.businesscont .wrap .businesslist span{font-size: 14px;color: #5f616d;line-height: 1.6}
.businesscont .wrap .businesslist .imgbox img{display: block;}
.businesscont .wrap .businesslist:first-child{position: absolute;left: -57px}
.businesscont .wrap .businesslist:nth-child(2){position: absolute;left: 14.16%;top:100%}
.businesscont .wrap .businesslist:nth-child(3){position: absolute;left:36%;top:-30px}
.businesscont .wrap .businesslist:nth-child(4){position: absolute;left:60%;top:100%}
.businesscont .wrap .businesslist:nth-child(5){position: absolute;left:77%;top:100%}
.businesscont .wrap .businesslist:nth-child(6){position: absolute;right:-57px;top:-20px}

.lift{background: url(../image/index/liftbg.png) no-repeat ;background-size: cover;padding:80px 0 255px 0;position: relative}
.lift .titleAll .titlec{color: #fff}
.lift .titleAll .titleen{color: #fff}
.leftcont.wrap{width: 1040px}
.leftcontlist{width: 255px;border: 1px solid #fff; border-radius: 8px;padding:40px 0 50px 0;text-align: center;transition: all .6s;cursor: pointer;background-image: -webkit-linear-gradient(top, transparent, transparent);margin-top: 76px}
.leftcontlist p{font-size: 26px;color: #fff;margin: 24px 0 12px 0}
.leftcontlist span{font-size: 16px;color: #fff;display: block;margin-bottom: 10px}
.leftcontlist:hover{background-image: -webkit-linear-gradient(top, #38adec, #2360f6);transition: all .6s;border: 1px solid transparent}


.flow{position:absolute;bottom:-140px;padding: 40px 0 55px 0;background: #fff;left: 50%;margin-left: -600px;box-sizing: border-box;}
.flow .flowtitle{font-size: 24px;color:#2d7ee4 ;text-align: center;margin-bottom: 50px;}
.flow .flowlist{text-align: center;width: 50%;}  
.flow .flowlist .cont{display: inline-block;font-size: 20px;color:#5f616d }
.flow .flowlist .btn{transition: all .4s;margin-top:25px;font-size: 50px;color: #258ffc;font-weight: bold;cursor: pointer;line-height: 1;}
.flow .flowlist img{vertical-align: top;margin-right: 25px}

.Dynamic{background: url(../image/index/sh.png) repeat-x;padding: 205px 0 78px 0;}
.DynamicContList{width: 340px;position: relative;margin-top: 40px;}
.DynamicContList img{display: block;width: 100%;}
.DynamicContList .date{position: absolute;top: -10px;right: -30px;background:#2d7ee4 ;padding: 8px 8px 13px 8px;color: #fff;text-align: center;font-size: 14px;}
.DynamicContList .date h1{font-size: 24px;}
.DynamicContList .cont-box{position: absolute;bottom:-25px;width: 288px;height: 50px;left: 50%;margin-left: -144px;background:#2d7ee4;color: #FFF;transition: all .4s;overflow: hidden;cursor: pointer;}
.DynamicContList .cont-box .title{text-align: center;height: 50px;line-height: 50px;}
.DynamicContList .cont-box .cont{padding: 0 13px;box-sizing: border-box;word-break: break-all;overflow: hidden;display: -webkit-box;
-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.DynamicContList .cont-box .more{text-align: center;margin: 15px 0 10px 0;display: block;color: #fff;}
.DynamicContList .cont-box:hover{height: 130px;}

.footer{background-color: #313131;padding-bottom: 45px;}
.footer .foot-top{padding-bottom:25px;border-bottom: 1px solid #b3b0b0;}
.footer .foot-top .wrap>p{color: #fff;font-size: 18px;padding: 20px 0;}
.footer .aList a{color: #b3b0b0;display: inline-block;;margin-right: 35px;line-height: 2;}
.footer .foot-bot .wrap .left p:first-child{color: #fff;font-size: 18px;margin-bottom: 20px;}
.footer .foot-bot{color: #b3b0b0;padding-top: 35px;}
.footer .foot-bot .center{width: 730px;box-sizing: border-box;}
.footer .foot-bot .center p{margin-left: 135px;}
.footer .foot-bot .center .left{float: left;height: 100%;width: 2px;border-radius: 100%;background-color:#b3b0b0 ;}
.footer .foot-bot .center .cen{float: left;}
.footer .foot-bot .center .right{float: right;height: 100%;width: 2px;border-radius: 100%;background-color:#b3b0b0 ;}

