@charset "UTF-8";
/*
***重置样式***
*/
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,pre,hr,table,th,td,form,input,button,textarea{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
img,iframe{border:0;}
i,em{font-style:normal;}
li,ul,ol{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
textarea{overflow:auto;resize:none;}
label{cursor:default;}
button,input[type="button"], input[type="submit"]{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
a,a:hover,a:active{color:#333;text-decoration:none;}
input,textarea,button{ background:none;  border:none; outline:none; font-family:"Microsoft YaHei", Helvetica, Arial, sans-serif; font-size:12px; }
/*select{-webkit-appearance:none; appearance:none;}*/

/*
***全局公共样式***
*/
html {  font-size: 62.5%;}
body{font-size: 14px; font-size: 1.4rem;  color: #333;  margin: 0 auto;  font-family: 'Microsoft YaHei',Helvetica,Arial,sans-serif;  -webkit-tap-highlight-color: transparent;}
/*浮动*/
.fl ,.lt {  float: left;  }
.fr ,.rt {  float: right;  }
/*清除浮动*/
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
.clear {clear:both;}
.flex{display: flex;display:-webkit-flex;justify-content: space-between;flex-wrap: wrap}
/*placeholder 颜色*/
:-moz-placeholder { color: #666; }
::-moz-placeholder { color: #666;}
input:-ms-input-placeholder{ color: #666;}
input::-webkit-input-placeholder{ color: #666;}

/****主体宽度****/
.wrap{width:1200px;margin: 0 auto;}
/****头****/
.banner{position: relative}
.banner>img{display: block;width: 100%;}
.banner .navbigbox{position: absolute;top:55px;width: 90%;left: 5%}
.navbox-left .nav{color: #fff;width: 120px;text-align: center;font-size: 16px}
.navbox-left .nav.active{font-weight: bold}
.navbox-left .nav span{display: block;margin-top: 5px}
.link{display: inline-block;width: 85px;height: 35px;color: #fff;line-height: 35px;transition: all .4s;border: 1px solid transparent;border-radius: 40px;text-align: center}
.link img{vertical-align: middle;margin-right: 5px}
.link:hover{border: 1px solid #fff;border-radius:40px;transition: all .4s;color: #fff}
.banner .mouse{display: block;width: 21px;height: 48px;background: url(../image/public/ico1.png) no-repeat center;background-size: 21px 48px;position: absolute;bottom: 140px;left: 50%; margin-left: -10px;-webkit-animation: mouseMove 1.3s ease-in infinite;animation: mouseMove 1.3s ease-in infinite;z-index: 5;
    cursor: pointer;}
    @-webkit-keyframes mouseMove{
        from{
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
        }
        to{
            -webkit-transform: translateY(15px);
            -moz-transform: translateY(15px);
            -o-transform: translateY(15px);
            transform: translateY(15px);
            opacity: .4;
        }
    }
    @-moz-keyframes mouseMove{
        from{
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
        }
        to{
            -webkit-transform: translateY(15px);
            -moz-transform: translateY(15px);
            -o-transform: translateY(15px);
            transform: translateY(15px);
            opacity: .4;
        }
    }
    @-o-keyframes mouseMove{
        from{
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
        }
        to{
            -webkit-transform: translateY(15px);
            -moz-transform: translateY(15px);
            -o-transform: translateY(15px);
            transform: translateY(15px);
            opacity: .4;
        }
    }
    @keyframes mouseMove{
        from{
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
        }
        to{
            -webkit-transform: translateY(15px);
            -moz-transform: translateY(15px);
            -o-transform: translateY(15px);
            transform: translateY(15px);
            opacity: .4;
        }
    }

.titleAll{text-align: center}
.titleAll .titlec{font-size: 40px;color:#5f616d }
.titleAll .titleen{font-size: 16px;color:#5f616d ;text-transform:uppercase;margin-top: 12px;display: block;}
@media(max-width:1219px){
    .wrap{width: 90%;}
}


@media(max-width:767px){
    .wrap{width: 96%;}
}