<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>云阙论坛</title>
  <link rel="stylesheet" href="/assets/css/reset.css">
  <link rel="stylesheet" href="/assets/css/bbs.css">
  <script src="//lib.baomitu.com/vue/2.6.8/vue.js"></script>
  <script src="//lib.baomitu.com/jquery/3.3.1/jquery.js"></script>
  <script src="//lib.baomitu.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
  <link href="//lib.baomitu.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
</head>
<body>

<div id="app">
  <div class="bbsList">
    <div class="listTitle">置顶主题</div>
    <div class="postList">
      <div class="postBox hot">
        <a class="head" href="">
          <img src="http://www.narkii.com/club/uc_server/avatar.php?uid=40161&size=small" alt="">
        </a>
        <div class="postInfo">
          <div class="title">
            <a class="text-truncate" href="/views/bbs/bbsPost.html"><img
                    src="http://www.narkii.com/club/static/image/common//pin_1.gif"
                    alt=""> 什么是阅读权限？为什么无法下载？ 什么是阅读权限？为什么无法下载？ 什么是阅读权限？为什么无法下载？
              什么是阅读权限？为什么无法下载？</a>
            <span class="count text-truncate">浏览量：123456</span>
          </div>
          <div class="author">
            <div><a href="">传说的落叶</a><span class="date">2013-8-13</span></div>
            <span class="count text-truncate">回复量：123456</span></div>
        </div>
      </div>
      <div class="postBox hot">
        <a class="head" href="">
          <img src="http://www.narkii.com/club/uc_server/avatar.php?uid=40161&size=small" alt="">
        </a>
        <div class="postInfo">
          <div class="title">
            <a class="text-truncate" href=""><img src="http://www.narkii.com/club/static/image/common//pin_1.gif"
                                                  alt=""> 什么是阅读权限？为什么无法下载？ 什么是阅读权限？为什么无法下载？ 什么是阅读权限？为什么无法下载？
              什么是阅读权限？为什么无法下载？</a>
            <span class="count text-truncate">浏览量：123456</span>
          </div>
          <div class="author">
            <div><a href="">传说的落叶</a><span class="date">2013-8-13</span></div>
            <span class="count text-truncate">回复量：123456</span></div>
        </div>
      </div>
      <div class="postBox hot">
        <a class="head" href="">
          <img src="http://www.narkii.com/club/uc_server/avatar.php?uid=40161&size=small" alt="">
        </a>
        <div class="postInfo">
          <div class="title">
            <a class="text-truncate" href=""><img src="http://www.narkii.com/club/static/image/common//pin_1.gif"
                                                  alt=""> 什么是阅读权限？为什么无法下载？ 什么是阅读权限？为什么无法下载？ 什么是阅读权限？为什么无法下载？
              什么是阅读权限？为什么无法下载？</a>
            <span class="count text-truncate">浏览量：123456</span>
          </div>
          <div class="author">
            <div><a href="">传说的落叶</a><span class="date">2013-8-13</span></div>
            <span class="count text-truncate">回复量：123456</span></div>
        </div>
      </div>
      <div class="postBox hot">
        <a class="head" href="">
          <img src="http://www.narkii.com/club/uc_server/avatar.php?uid=40161&size=small" alt="">
        </a>
        <div class="postInfo">
          <div class="title">
            <a class="text-truncate" href=""><img src="http://www.narkii.com/club/static/image/common//pin_1.gif"
                                                  alt=""> 什么是阅读权限？为什么无法下载？ 什么是阅读权限？为什么无法下载？ 什么是阅读权限？为什么无法下载？
              什么是阅读权限？为什么无法下载？</a>
            <span class="count text-truncate">浏览量：123456</span>
          </div>
          <div class="author">
            <div><a href="">传说的落叶</a><span class="date">2013-8-13</span></div>
            <span class="count text-truncate">回复量：123456</span></div>
        </div>
      </div>
    </div>
    <div class="listTitle">板块主题</div>
    <div class="postList">
      <div class="postBox">
        <a class="head" href="">
          <img src="http://www.narkii.com/club/uc_server/avatar.php?uid=40161&size=small" alt="">
        </a>
        <div class="postInfo">
          <div class="title">
            <a class="text-truncate" href=""><img src="http://www.narkii.com/club/static/image/common//pin_1.gif"
                                                  alt=""> 什么是阅读权限？为什么无法下载？ 什么是阅读权限？为什么无法下载？ 什么是阅读权限？为什么无法下载？
              什么是阅读权限？为什么无法下载？</a>
            <span class="count text-truncate">浏览量：123456</span>
          </div>
          <div class="author">
            <div><a href="">传说的落叶</a><span class="date">2013-8-13</span></div>
            <span class="count text-truncate">回复量：123456</span></div>
        </div>
      </div>
      <div class="postBox">
        <a class="head" href="">
          <img src="http://www.narkii.com/club/uc_server/avatar.php?uid=40161&size=small" alt="">
        </a>
        <div class="postInfo">
          <div class="title">
            <a class="text-truncate" href=""><img src="http://www.narkii.com/club/static/image/common//pin_1.gif"
                                                  alt=""> 什么是阅读权限？为什么无法下载？ 什么是阅读权限？为什么无法下载？ 什么是阅读权限？为什么无法下载？
              什么是阅读权限？为什么无法下载？</a>
            <span class="count text-truncate">浏览量：123456</span>
          </div>
          <div class="author">
            <div><a href="">传说的落叶</a><span class="date">2013-8-13</span></div>
            <span class="count text-truncate">回复量：123456</span></div>
        </div>
      </div>
      <div class="postBox">
        <a class="head" href="">
          <img src="http://www.narkii.com/club/uc_server/avatar.php?uid=40161&size=small" alt="">
        </a>
        <div class="postInfo">
          <div class="title">
            <a class="text-truncate" href=""><img src="http://www.narkii.com/club/static/image/common//pin_1.gif"
                                                  alt=""> 什么是阅读权限？为什么无法下载？ 什么是阅读权限？为什么无法下载？ 什么是阅读权限？为什么无法下载？
              什么是阅读权限？为什么无法下载？</a>
            <span class="count text-truncate">浏览量：123456</span>
          </div>
          <div class="author">
            <div><a href="">传说的落叶</a><span class="date">2013-8-13</span></div>
            <span class="count text-truncate">回复量：123456</span></div>
        </div>
      </div>
      <div class="postBox">
        <a class="head" href="">
          <img src="http://www.narkii.com/club/uc_server/avatar.php?uid=40161&size=small" alt="">
        </a>
        <div class="postInfo">
          <div class="title">
            <a class="text-truncate" href=""><img src="http://www.narkii.com/club/static/image/common//pin_1.gif"
                                                  alt=""> 什么是阅读权限？为什么无法下载？ 什么是阅读权限？为什么无法下载？ 什么是阅读权限？为什么无法下载？
              什么是阅读权限？为什么无法下载？</a>
            <span class="count text-truncate">浏览量：123456</span>
          </div>
          <div class="author">
            <div><a href="">传说的落叶</a><span class="date">2013-8-13</span></div>
            <span class="count text-truncate">回复量：123456</span></div>
        </div>
      </div>
    </div>
    <nav aria-label="Page navigation example" style="margin-top: 20px;">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">上一页</a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">下一页</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<script>
  let vm = new Vue({
    el: '#app',
    data() {
      return {}
    },
    methods: {},
    mounted() {
    }
  })
</script>
</body>
</html>
