<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>云阙论坛</title>
  <link rel="stylesheet" href="/assets/css/reset.css">
  <link rel="stylesheet" href="/assets/css/bbs.css">
  <script src="//lib.baomitu.com/vue/2.6.8/vue.js"></script>
  <script src="//lib.baomitu.com/jquery/3.3.1/jquery.js"></script>
  <script src="//lib.baomitu.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
  <link href="//lib.baomitu.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
</head>
<body>

<div id="app">
  <div class="bbsPost">
    <div class="caption">这得什么样的家庭条件啊？？？</div>
    <div class="postMain">
      <div class="author">
        <a href="" class="head"><img src="http://tb.himg.baidu.com/sys/portrait/item/9853e78699e699b4e5b7b2e696ad69ac"
                                     alt=""></a>
        <a href="" class="name">麻花藤</a>
      </div>
      <div class="reply">
        <div class="replyMain">
          说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥
        </div>
        <div class="replyInfo">1楼 2019-03-08 09:12 <a href="">回复</a></div>
      </div>
    </div>
    <div class="postMain">
      <div class="author">
        <a href="" class="head"><img src="http://tb.himg.baidu.com/sys/portrait/item/9853e78699e699b4e5b7b2e696ad69ac"
                                     alt=""></a>
        <a href="" class="name">麻花藤</a>
      </div>
      <div class="reply">
        <div class="replyMain">
          说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥
        </div>
        <div class="replyInfo">2楼 2019-03-08 09:12 <a href="">回复</a></div>
      </div>
    </div>
    <div class="postMain">
      <div class="author">
        <a href="" class="head"><img src="http://tb.himg.baidu.com/sys/portrait/item/9853e78699e699b4e5b7b2e696ad69ac"
                                     alt=""></a>
        <a href="" class="name">麻花藤</a>
      </div>
      <div class="reply">
        <div class="replyMain">
          说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥说啥你就信啥
        </div>
        <div class="replyInfo">3楼 2019-03-08 09:12 <a href="">回复</a></div>
      </div>
    </div>
  </div>
</div>
<script>
  let vm = new Vue({
    el: '#app',
    data() {
      return {}
    },
    methods: {},
    mounted() {
    }
  })
</script>
</body>
</html>
