<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonHeader(title)">
  <title th:text="${title}"></title>
  <link rel="stylesheet" href="/assets/css/reset.css">
  <script src="//lib.baomitu.com/vue/2.6.8/vue.min.js"></script>
  <script src="//lib.baomitu.com/iview/latest/iview.min.js"></script>
  <link href="//lib.baomitu.com/iview/latest/styles/iview.css" rel="stylesheet">
  <script src="//lib.baomitu.com/jquery/latest/jquery.min.js"></script>
  <script src="//lib.baomitu.com/sockjs-client/1.3.0/sockjs.min.js"></script>
  <script src="//lib.baomitu.com/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<div th:fragment="commonNav">
  <div class="navbigbox flex">
    <div class="logo"><a href="/" class="nav active"><img src="/assets/image/public/logo.png" alt=""></a></div>
    <div class="navbox flex">
      <div class="navbox-left flex">
        <a href="/" class="nav active">主页<span>home</span></a>
        <a href="/about" class="nav ">关于我们<span>About</span></a>
        <a href="/contact" class="nav ">联系我们<span>contact</span></a>
        <a href="/club" class="nav ">论坛<span>forum</span></a>
        <a href="/mall" class="nav d">商城<span>Shop</span></a>
        <a href="/space" v-if="userInfo.name!==null" class="nav d"><b style="color: #ed4014">{{userInfo.name}}</b><span>Welcome</span></a>
      </div>
      <div v-if="userInfo.name===null" class="navbox-right">
        <a href="/toLogin?type=login" class="link link-login">
          <img src="/assets/image/public/user.png" alt="">登录</a>
        <a href="/toLogin?type=reg" class="link link-regist">注册</a>
      </div>
    </div>
  </div>
</div>
<div th:fragment="commonFooter">
  <back-top></back-top>
  <div class="footer">
    <div class="foot-top">
      <div class="wrap">
        <p>合作链接</p>
        <div class="aList">
          <a v-for="(item,index) in getFriendsLinkData" :href="item.address" target="_blank">{{item.name}}</a>
        </div>
      </div>
    </div>
    <div class="foot-bot">
      <div class="wrap flex">
        <div class="center">
          <span class="left"></span>
          <div class="cen">
            <p>固定电话电话：{{info.phone}}</p>
            <p>电子邮箱：{{info.enterprise_email}}</p>
            <p>公司地址：{{info.address}}</p>
            <p>备案号 冀ICP备18024390号</p>
          </div>
          <span class="right"></span>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:fragment="commonFooterjs">
  <script>
    let vm = new Vue({
      el: '#app',
      mixins: [mixin],
      data() {
        return {
          getFriendsLinkData: [],
          userInfo: {
            name: null,
            id: null
          },
          info: {}
        }
      },
      methods: {
        /*获取用户信息*/
        getUserInfo() {
          this.userInfo.name = sessionStorage.getItem("SkyUserName");
          this.userInfo.id = sessionStorage.getItem("SkyUserId");
        },
        /*友情链接*/
        getFriendsLink() {
          $.ajax({
            type: "post",
            url: "/selectAllcooperation",
            data:{page:1,limit:100},
            dataType: "json",
            success: (res) => {
              console.log(res)
              if (res.code == 1) {
                this.getFriendsLinkData = res.data
              }
            }
          });
        },
        /*获取地址栏参数*/
        getHrefParam(key) {
          let s = window.location.href;
          let reg = new RegExp(key + "=\\w+");
          let rs = reg.exec(s);
          if (rs === null || rs === undefined) {
            return "";
          } else {
            return rs[0].split("=")[1];
          }
        },
        /*格式化时间戳*/
        timeFormat(date) {
          let time = new Date(date);
          let y = time.getFullYear();
          let m = time.getMonth() + 1;
          let d = time.getDate();
          let h = time.getHours();
          let mm = time.getMinutes();
          let s = time.getSeconds();
          console.log(y + '-' + m + '-' + d + ' ' + h + ':' + mm + ':' + s)
          return y + '-' + m + '-' + d + ' ' + h + ':' + mm + ':' + s;
        },
        /*格式化时间戳*/
        dateFormat(date) {
          let time = new Date(date);
          let y = time.getFullYear();
          let m = time.getMonth() + 1;
          let d = time.getDate();
          let h = time.getHours();
          let mm = time.getMinutes();
          let s = time.getSeconds();
          console.log(y + '-' + m + '-' + d + ' ' + h + ':' + mm + ':' + s)
          return y + '-' + m + '-' + d;
        },
        /*提示信息*/
        error(msg) {
          this.$Notice.error({
            title: msg
          });
        },
        success(msg) {
          this.$Notice.success({
            title: msg
          });
        },
        getInfo() {
          $.ajax({
            type: "post",
            url: "/selectAllContactUsList",
            dataType: "json",
            success: (res) => {
              console.log(res)
              if (res.code == 1) {
                this.info = res.data[0]
              } else {
                this.error(res.msg)
              }
            }
          });
        }
      },
      created() {
        this.$Loading.start();
        setTimeout(() => {
          this.$Loading.finish()
        }, 100)
      },
      mounted() {
        this.getFriendsLink()
        this.getUserInfo()
        this.getInfo()
      }
    })
  </script>
</div>
</body>
</html>
