<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="referrer" content="no-referrer">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <div th:replace="/mall/common  :: commonHeader(商品详情)"></div>
  <style>
    .nav-span {
      display: none
    }

    .gg {
      display: flex;
      padding: 10PX 6PX 0 6px;
    }

    .gg > p {
      color: #6C6C6C;
    }

    .listgg {
      display: inline-block;
      border: 1px solid #c3c0c0;
      padding: 0 10px;
      height:25px;
      line-height:25px;
      margin-right: 10px;
      margin-bottom: 10px;
      cursor: pointer
    }
    .goods .contArea dl{padding:12px 6px;}
    .goods .contArea dl dd .calculate a{line-height: 8px;height:12px}
.goods .contArea dl dd .number{height:30px;    padding: 2px 10px;}

    .listgg.actives {
      border: 1px solid #ff0000
    }
  </style>
</head>

<body>
<div id="app" class="goods">
  <div class="container">
    <div th:replace="/mall/common :: commonNav"></div>
    <hr class="contHr"/>
    <div class="detailCont" v-for="(goods,index) in goodsData">
      <div class="goodsMall">
        <div class="goodsImage">
          <div class="goodsImage-big"><img :src="goods.productImage[indexs].img"></div>
          <div class="goodsImage-imgs">
            <template v-for="(goodsImg,index_c) in goods.productImage" v-if="index_c<5">
              <div class="imgsDom" @click="imgChange(index_c)" :class="{bannerImgBorder: (indexs == index_c)}">
                <img :src="goodsImg.img" class="clickImg">
              </div>
            </template>
          </div>
        </div>
        <div class="goodsState">
          <p class="name">{{goods.productName}}</p>
          <p class="describion">{{goods.describion}}</p>
          <div class="price">
            <p>专柜价：<span>￥{{ggmony.price}}</span></p>
          </div>
          <div class="goodsForm">
            <div class="titleArea">
              <ul class="titleUl">
                <li>累计评论：<span>{{countSum}}</span></li>
              </ul>
            </div>
            <div class="contArea">
              <div class="gg" v-for="(item,key,index) in Specifications">
                <p>{{key.split('"')[1]}}：</p>
                <div class="gglist">
                  <span class="listgg" v-for="(items ,indexss) in Specifications[key]"
                        :class="{actives: (ggindexs[key] == items)}"
                        @click="activelist(key,indexss,items)">{{items.split('"')[1]}}</span>
                </div>
              </div>
              <dl>
                <dt>数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量：</dt>
                <dd>
                  <div class="number" v-html="num[0]" id="num">1</div>
                  <div class="calculate">
                    <a href="javascript:;" id="adds" @click="add(0)">+</a>
                    <a href="javascript:;" @click="min(0)">-</a>
                  </div>
                  <div class="unit">件</div>
                  <div class="unit">库存{{kc}}件</div>
                </dd>
              </dl>
              <dl>
                <dt>所属分类：</dt>
                <dd>
                  <ul>
                    <li>{{goods.classificationNames}}>{{goods.producttypename}}</li>
                  </ul>
                </dd>
              </dl>
              <dl>
                <dt>服务承诺：</dt>
                <dd>正品保证</dd>
              </dl>
            </div>
            <div class="form-btn">
              <a @click="orderOk(goods.productId)">立即购买</a>
              <a @click="orderCart(goods.productId)">加入购物车</a>
            </div>
          </div>
        </div>
      </div>
      <div class="goodsDeails">
        <div class="goodsDel">
          <h2>
            <span class="contP" :class="{ active: type=='detail' }" @click="toggleType('detail')">商品详情</span>
            <span class="contP" :class="{ active: type=='tesk' }" @click="toggleType('tesk')">累计评价 <a
                    href="javascript:;">{{countSum}}</a></span>
          </h2>
          <div class="detailsDiv" v-if="type === 'detail'">
            <div class="detailsDiv-top">
              <p>品牌名称：{{goods.brand}}</p>
              <p>商品描述：{{goods.describion}}</p>
            </div>
            <div class="detailsDiv-last">
              <p>图片详情</p>
              <div class="detailImgs" v-for="(goodsImg,indexs) in goods.productImage">
                <img :src="goodsImg.img"/>
              </div>
            </div>
          </div>
          <div class="detailsDiv" v-if="type === 'tesk'">
            <div class="detailReview" v-for="(item,index) in classDatas" v-if="Clases">
              <dl>
                <dt><img :src="item.avatar">
                  <p>{{item.nickname}}</p>
                </dt>
                <dd>
                  <p>{{item.review_content}}</p>
                  <p><img :src="itemSrc.picture" v-for="(itemSrc,num) in item.picture_video"></p>
                  <p class="times">{{formatData(item.review_time)}}</p>
                </dd>
              </dl>
            </div>
            <div v-if="!Clases">暂无评价</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="/mall/common :: commonFooter"></div>
</div>
</body>

<script>
  const mixin = {
    data() {
      return {
        indexs: 0,
        ggindexs: {},
        type: 'detail',
        classData: [],
        classDatas: [],
        goodsData: [],
        countSum: 0,
        num: [1],
        inventory: 0,
        Clases: true,
        actives: 0,
        ggmony: null,
        kc: null,
        ggmonyss: [],
        ggmonycss: {},
        Specifications: []
      }
    },
    methods: {
      orderOk(productId) {
        if (this.userInfo.name != null) {
          let nums = this.num[0];//数量
          let inventory = this.kc;//库存
          let ggs = JSON.stringify(this.ggmonycss).split("\\").join();
          let ggss = ggs.split("{").join();
          let ggsss = ggss.split("}").join();
          let ggc = ggsss.replace(",", "");
          let ggcc = ggc.replace(/[^0-9]+/g, '');
		if(this.kc==undefined){
	 			this.$Message.info("暂无库存");	
	 			 return false
			}
		  if(nums > inventory){
			  this.$Message.info("库存不足，请对应减少购买数量,在购买！");
		  }else if(nums <= inventory){
			  window.open("/OrderOk?id=" + productId + "&num=" + nums + "&gg=" + ggcc);
		  }
        } else {
          this.$Message.info('请先登录');
          setTimeout("window.location.href = '/toLogin?type=login'", 1500)
        }
      },
      //加入购物车
      orderCart(productId) {
        if (this.userInfo.name != null) {
        	let nums = this.num[0];//数量
            let inventory = this.kc;//库存
        	if(nums > inventory){
	  			  this.$Message.info("库存不足，请对应减少购买数量,在购买！");
	  		}else if(nums <= inventory){
	  			$.ajax({
	  	            type: "post",
	  	            url: "/t_trolley/addt_trolley",
	  	            dataType: "json",
	  	            data: {
	  	              product_id: productId,
	  	              user_id: this.userInfo.id,
	  	              number: this.num[0],
	  	              trolley_specifications: JSON.stringify(this.ggindexs)
	  	            },
	  	            success: (res) => {
	  	              if (res.code == 1) {
	  	                this.$Message.info(res.msg)
	  	              } else {
	  	                this.$Message.info(res.msg)
	  	              }
	  	            }
	  	        });
	  		}
        } else {
          this.$Message.info('请先登录');
          setTimeout("window.location.href = '/toLogin?type=login?type=login'", 1500)
        }
      },
      imgChange(index) {
        this.indexs = index
      },
      add(nums) {
        var xnum = this.num * 1 + 1
        Vue.set(this.num, nums, xnum);
      },
      min(nums) {
        if (this.num * 1 > 0) {
          var xnum2 = this.num - 1
          Vue.set(this.num, nums, xnum2);
        }
      },
      getClass() {
        $.ajax({
          type: "post",
          url: "/selectAllproductation",
          dataType: "json",
          success: (res) => {
            if (res.code == 1) {
              this.classData = res.data
            }
          }
        });
      },
      //查询所有的规格属性
      getSpecifications() {
        $.ajax({
          type: "post",
          url: "/selectAllspecificationValue",
          dataType: "json",
          data: {
            product_id: this.getHrefParam("id"),
          },
          success: (res) => {
            this.Specifications = res.data[0]
            for (let key in res.data[0]) {
              this.activelist(key, 0, res.data[0][key][0])
            }
          }
        });
      },
      //根据id查询商品价格库存
      getGoodsmoney(ggname) {
        if (Object.keys(JSON.parse(ggname)).length === Object.keys(this.Specifications).length) {
          $.ajax({
            type: "post",
            url: "/selectAllspecifications",
            dataType: "json",
            data: {
              product_id: this.getHrefParam("id"),
              specifications: ggname
            },
            success: (res) => {
              this.ggmony = res.data
              this.kc = res.count             
              if(this.kc==undefined){
            	  this.$Message.info('暂无库存');
              }
            }
          });
        } else {
          console.log(ggname)
        }
      },
      //根据id查询商品信息
      getGoods() {
        $.ajax({
          type: "post",
          url: "/listProductByProductId",
          dataType: "json",
          data: {productId: this.getHrefParam("id")},
          success: (res) => {
            if (res.code == 1) {
            	console.log(res.data)
              this.goodsData = res.data
            } else {
              this.$Message.info(res.msg)
            }
          }
        });
      },
      //评价
      getClases() {
        $.ajax({
          type: "post",
          url: "/t_review/selectAllSome",
          dataType: "json",
          data: {
            "product_id": this.getHrefParam("id"),
            "page": 1,
            "limit": 100
          },
          success: (res) => {
            if (res.code == 1) {
              this.countSum = res.count || 0
              this.classDatas = res.data == 'null' ? [] : res.data
            } else {
            }
          }
        });
      },
      /*切换评论商品详情*/
      toggleType(type) {
        this.type = type
      },
      activelist(key, index, val) {
        this.ggindexs[key] = val
        this.ggmonycss[key] = index
        console.log( JSON.stringify(this.ggindexs).replace(/"([^"]*)"/g, ''))

        this.getGoodsmoney(JSON.stringify(this.ggindexs))
      }
    },
    mounted() {
      this.getClases()
      this.getGoods()
      this.getClass()
      this.getSpecifications()
      this.getGoodsmoney()
    }
  }
</script>
<div th:replace="/mall/common :: commonFooterjs"></div>
</html>
