<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>搜索列表</title>
  <script src="//lib.baomitu.com/vue/2.6.8/vue.js"></script>
  <link href="//lib.baomitu.com/iview/latest/styles/iview.css" rel="stylesheet">
  <script src="//lib.baomitu.com/iview/latest/iview.min.js"></script>
  <link rel="stylesheet" href="/assets/css/goods.css">
  <link rel="stylesheet" href="/assets/css/mallreset.css">
  <script src="//lib.baomitu.com/jquery/latest/jquery.min.js"></script>
  <style>
   .navli,.nav-span {
      display: none
    }

    .navli {
      cursor: pointer;
    }
  </style>
</head>

<body>

  <div class="container" id="app">
    <div th:replace="mall/common :: commonNav"></div>
    <div class="detailCont">
      <p class="detail-tab">
      </p>
      <div class="detail-tab-list">
      </div>
      <div class="goods-title">

      </div>

      <div class="detail-area" v-if="showBox">
        <div class="detail-goods-list" v-for="(items,index) in goodsData">
          <a :href="'/goodDetails?id='+items.id" class="detail-area-A">
            <div class="goods-list-Img">
              <img :src="items.image" />
            </div>
            <h2 class="h2s">{{items.productName}}</h2>
            <p class="ps-01">正品保证</p>
            <p class="ps-02">￥{{items.price}}</p>
            <ul class="uls" style="display: none">
              <li>成交 | <span>0</span></li>
              <li>评论 | <span>0</span></li>
              <li>库存 | <span>100</span></li>
            </ul>
          </a>
          <p class="carP" @click='test_click(items.id)'><img src="/assets/image/mall/address.png">加入购物车</p>
        </div>
      </div>
       <div v-else>暂无产品</div> 
    </div>

  <div th:replace="mall/common :: commonFooter"></div>
  </div>  </div>
</body>
<script type="text/javascript">
  const mixin = {
    data() {
      return {
        goodsData: [],
        showBox:true
      }
    },
    methods: {	
      getSearchsList() {
			//console.log(this.getHrefParam("name"))
          $.ajax({
            type: "post",
            url: "/listProductByProductTypeId",
            dataType: "json",
            data: {
            	productName:this.getHrefParam("name"),             
            },
            success: (res) => {
              console.log(res)
              if(res.data!="null"){
          this.goodsData=res.data
              }else{
            	 this.showBox=!this.showBox 
              }
            }
          });
      }
    },
    mounted() {
    this.getSearchsList()

    }
  }
</script>
<div th:replace="mall/common :: commonFooterjs"></div>

</html>