<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.websit.mapper.T_commentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.websit.entity.T_comment">
        <id column="id" property="id" />
        <result column="comment" property="comment" />
        <result column="image_id" property="image_id" />
        <result column="create_time" property="create_time" />
        <result column="posting_id" property="posting_id" />
        <result column="user_id"  property="user_id"/>
    </resultMap>
 <update id="update">
 update t_posting set  new_time=now()  where id=#{id}
    
    </update>
</mapper>
