<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.websit.mapper.T_opinionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.websit.entity.T_opinion">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="address" property="address" />
        <result column="emaill" property="emaill" />
        <result column="create_time" property="create_time" />
    </resultMap>
    
    <!-- 增加一条意见 -->
	<insert id="insertOneOpinion" parameterType="T_opinion">
		insert into
		t_opinion(name,phone,address,emaill,create_time,content)
		values
		(#{name},#{phone},#{address},#{emaill},now(),#{content})
	</insert>
<!-- 查询所有意见 -->
    <select id="listAllOpinion" resultType="com.websit.entity.T_opinion">
       SELECT DISTINCT
                    id,
                   name,
                   phone,
                   address,
                   emaill,
                   create_time,
                   content
                FROM
                    t_opinion
                      order by id
               DESC
                      limit #{page},#{limit}  
    </select>
    <!-- 查询商品一级分类条数 -->
	<select id="findOpinionCount" resultType="Integer">
		SELECT COUNT(DISTINCT tb.id) count
		FROM
		(
		select
		   id 
		from
		 t_opinion
		<where>
			<!-- <if test="name != null and name != ''">
				and name like "%"#{name}"%"
			</if> -->
		</where>
		)as tb
	</select>
</mapper>
