<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.websit.mapper.T_shoppingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.websit.entity.T_freight">
        <id column="shoping_id" property="shoping_id" />
        <result column="youhuijine" property="youhuijine" />
        <result column="product_id" property="product_id" />
        <result column="number" property="number" />
        <result column="order_id" property="order_id" />
        <result column="is_dianpng" property="is_dianpng" />
        <result column="danjia" property="danjia" />
        <result column="zongjia" property="zongjia" />
        <result column="state" property="state" />
        <result column="shoping_specifications" property="shoping_specifications" />
    </resultMap>

</mapper>
